.q-how {
    max-width: 904px;
    text-align: center;
    margin: auto;
    padding: 96px 34px;

    h2 {
        font-family: hk_grotesk, Helvetica;
        font-weight: 800;
        font-size: 32px;
        line-height: 110%;
        color: #454658;
        margin-bottom: 24px;
    }

    p {
        font-size: 16px;
        line-height: 150%;
        color: #454658;
        margin-bottom: 32px;
    }
}